<style>
    h1 {
        width: 100%;
    }

    .label {
        font-weight: bold;
        border-bottom: 1px solid #3f4b5b;
    }

    .poster {
        max-width: 240px;
        object-fit: contain;
    }

    .screenshot {
        max-width: 250px;
        max-height: 140px;
        object-fit: contain;
        margin: -1px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="grid align-items-start">
    <div class="inline-flex flex-wrap col">
        <h1>{{title}}{{#if year}} ({{> print value=year field="year"}}){{/if}}</h1>
        {{> field label="Minutes" value=length }}
        {{> field label="Directors" value=directors field="directors" }}
        {{> field label="Distributor" value=distributor field="distributor" }}
        {{#if releaseDate}}{{> field label="Release Date" value=(date releaseDate "LL") }}{{/if}}
        {{> field label="Genre" value=genre field="genre" }}
        {{> field label="Actors" value=actors field="actors" }}
        {{> field label="Tagline" value=tagline multiline=true scenes=true}}
    </div>

    {{#if poster}}
        <img class="poster mt-4 mr-4 shadow-4" src="{{poster}}" alt="{{title}}"/>
    {{/if}}
</div>

<div class="screenshots">
{{#each screenshots}}
    <img class="screenshot shadow-4" src="{{this}}" alt="screenshot_{{@index}}"/>
{{/each}}
</div>

{{#*inline "field"}}
    {{#if value}}
        <div class="field mb-4 mr-6">
            <div class="mb-1 label">{{i18n label}}</div>

            {{#if multiline}}
                {{#each value}}
                    <div class="value{{#unless @last}} mb-1{{/unless}}">
                        {{#if ../scenes}}{{i18n "Scene"}} {{add @index 1}}. {{/if}}{{this}}
                    </div>
                {{/each}}
            {{else}}
                <label class="value">
                    {{#each value}}
                        {{> print value=this field=../field}}
                        {{#unless @last}}, {{/unless}}
                    {{else}}
                        {{> print value=value field=field}}
                    {{/each}}
                </label>
            {{/if}}
        </div>
    {{/if}}
{{/inline}}

{{#*inline "print"}}{{#if field}}<a href="#{{field}}={{value}}">{{value}}</a>{{else}}{{value}}{{/if}}{{/inline}}
